
footer{
    background-color: rgb(64, 4, 77);
    padding: 40px;
    margin-bottom: 0%;
    color: white;
    clear:left
}
main{
    margin: 40px;
    ;
}

.custom-navbar .nav-link{
    color: white;
}

.casasHoD{
    padding: 40px;
    margin: 20px;
    float: left;
}

.casasGoT{
    float: right;
    padding: 40px;
    margin: 20px;
}

.custom-navbar{
    background-color: rgb(64, 4, 77);

}